* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.containar {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(259, 94%, 7%);
    width: 100%;
    height: 85px;
    color: #ececec;
    padding: 0 150px;
    position: sticky; 
    top: 0;
    z-index: 1000;

}

.navlogoimage img {
    height: auto
}


.navoptions {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ececec;
    /* margin-left: 550px; */
    gap: 25px;
    list-style-type: none;
    font-size: 15px;


}

.btn1 {
    margin-left: 10px;
    border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 16px;
    background-color: #ececec;
    color: black;
    padding: 10px 25px 10px 25px;
    cursor: pointer;


}

.btn2 {
    border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 16px;
    background-color: hsl(259, 94%, 7%);
    color: #ececec;
    padding: 10px 25px 10px 25px;


}

.btn1:hover {
    color: #ececec;
    background-color: hsl(259, 94%, 7%);

}



.btn2:hover {
    color: black;
    background-color: #ececec;

}


/* Nav Section End  */

/* Hero Section Starting  */

.herosection {
    background-image: url(./hero-background.jpg);
    width: 100%;
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;

}

.herotext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10rem 100px 8rem 100px;

}


.herotext strong {
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 20px;
    border-radius: 30px;
    color: #ececec;
    font-weight: 500;

}


.herotext h2 {
    font-size: 80px;
    text-align: center;
    background: linear-gradient(to right, #ECECEC, #ECECEC50);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
}


.herosection p {
    font-size: 1rem;
    padding: 8px 20px;
    color: #ecececa6;
    font-weight: 500;
    margin: 30px 0px 20px 0px;
}



.herobtn {
    display: flex;
    gap: 10px;
}

.herosection .btn3 {
     border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 16px;
    background-color: #ececec;
    color: black;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
}

.herosection .btn4 {
     border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 16px;
    background-color: transparent ; 
    color: #ececec;
    padding: 15px 25px 15px 25px;

}




.btn3:hover:hover {
    color: #ececec;
    background-color: transparent ;

}



.btn4:hover:hover {
    color: black;
    background-color: #ececec;

}

.herosection img {
    margin-top: 40px;
}


