* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
}


.containar {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(259, 94%, 7%);
    width: 100%;
    height: 85px;
    color: #ececec;
    padding: 0 150px;

}

.navlogoimage img {
    height: auto
}


.navoptions {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ececec;
    /* margin-left: 550px; */
    gap: 25px;
    list-style-type: none;
    font-size: 15px;


}

.btn1 {
    margin-left: 10px;
    border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 16px;
    background-color: #ececec;
    color: black;
    padding: 10px 25px 10px 25px;
    cursor: pointer;


}

.btn2 {
    border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 16px;
    background-color: hsl(259, 94%, 7%);
    color: #ececec;
    padding: 10px 25px 10px 25px;


}

.btn1:hover {
    color: #ececec;
    background-color: hsl(259, 94%, 7%);

}



.btn2:hover {
    color: black;
    background-color: #ececec;

}


/* Nav Section End  */

/* Hero Section Starting  */

.herosection {
    background-image: url(./hero-background.jpg);
    width: 100%;
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.herotext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 18rem 0px 8rem 0px;
    
}


.herotext strong {
    font-size: 15px ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 20px;
    border-radius: 30px;
    color: #ececec;
    font-weight: 500;
    
}


.herotext h2 {
    font-size: 80px;
    text-align: center;



/* 
    background: -webkit-linear-gradient(#ECECEC, #ECECEC50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     */
}






