* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    align-items: center;
    background-color: hsl(259, 94%, 7%);
    width: 100%;
    height: 85px;
    color: #ececec;

}


.navlogoimage {
    padding-left: 150px;

}

.navlogoimage img {
    height: 20px;
}


.navoptions {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ececec;
    margin-left: 550px;
    gap: 25px;
    list-style-type: none;
    font-size: 20px;


}

.btn1 {
    margin-left: 10px;
    border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 16px;
    background-color: #ececec;
    color: black;
    padding: 10px 25px 10px 25px;
    cursor: pointer;


}

.btn2 {
    border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 16px;
    background-color: hsl(259, 94%, 7%);
    color: #ececec;
    padding: 10px 25px 10px 25px;


}

.btn1:hover {
    color: #ececec;
    background-color: hsl(259, 94%, 7%);

}



.btn2:hover {
    color: black;
    background-color: #ececec;

}


/* Nav Bar End  */

/* Hero Section Starting  */
/* 
.mainimg {
    height: 1000px; 
    width: 1440px;
} */





